:root {
    --pink-color: #e26e67;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    height: 100vh;
    background: linear-gradient(45deg, rgb(65, 88, 288), rgb(200, 90, 192)50%, rgb(255, 204, 112))
}

html {
    scroll-behavior: smooth;
}

.name-website {
    position: relative;
    text-align: center;
    margin-top: 20px;
    color: white;
    font-size: 3em;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
    text-shadow: 5px 5px gray;
}

.img {
    margin: 120px auto;
    width: 50%;
    min-width: 500px;
    height: 400px;
    background: white;
    border: 4px solid black;
    border-radius: 20px;
}

img {
    width: 250px;
    height: 300px;
    margin-left: 252px;
    margin-top: 44px;
    border: 1px solid red;
    object-fit: cover;
    border-radius: 10px;

}

.img img:hover {
    box-shadow: 10px 10px blueviolet;
}

.btn1 {
    position: relative;
    display: flex;
    left: 0;
    right: 0;
    justify-content: space-between;
    width: 100%;
}

.btn1 button {
    width: 200px;
    background: var(--pink-color);
    margin-right: 13px;
    margin-left: 20px;
    cursor: pointer;
    height: 30px;
    border-radius: 20px;
}

.btn1 button {
    color: white;
}

.btn1 button:hover {
    font-size: 1em;
    background-color: blueviolet;
}

.modal {
    position: fixed;
    top: 0;
    display: none;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    animation: show 1s infinite;
}

.model_iner {
    position: relative;
    width: 400px;
    top: 20%;
    margin: auto;
    background: white;
    animation: examole 0, 2s linear;
    /* visibility: hidden; */
}

.modal_headr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: var(--pink-color);
    color: white;
}

.modal_body {
    padding: 15px;

}

.modal_body h2 {
    color: var(--pink-color);
    margin-bottom: 10px;
}

.modal_body ul li {
    margin: 10px;
}

.modal_body ul>li>a:hover {
    font-size: 2em;
}

.modal_footer {
    padding: 15px;
    text-align: right;
}

.modal_footer button {
    padding: 10px 20px;
    color: white;
    text-transform: uppercase;
    background: var(--pink-color);
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

.modal_footer button a {
    color: white;
}

.modal_footer button:hover {
    background-color: blueviolet;
}

.hide {
    display: none;
}

.show {
    opacity: 1;
    display: block;
    pointer-events: all;
}